In [2]:
set1={"Boomi","Nagarj","MRS"}
set2={"Boomi","Praba","Bharathi"}
set3={"rajesh","ram","Boomi"}

## Union() Method

In [3]:
# Syntax
print(set1.union(set2))

{'Bharathi', 'Praba', 'MRS', 'Boomi', 'Nagarj'}

#### Using operator for union

In [4]:
print(set1|set2|set3)

{'Bharathi', 'rajesh', 'Praba', 'ram', 'MRS', 'Boomi', 'Nagarj'}

In [5]:
print(set1.union(set2,set3))

{'Bharathi', 'rajesh', 'Praba', 'ram', 'MRS', 'Boomi', 'Nagarj'}

In [6]:
 print(set1.union(("kavis","kani")))

{'Nagarj', 'kavis', 'kani', 'MRS', 'Boomi'}

In [7]:
 print(set1|(("kavis","kani")))

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

## Update () method

In [ ]:
# Syntax
set1.update(["mahi"])
print(set1)

In [ ]:
 set1 |=set2
print(set1)

## Intersection () method

In [ ]:
print(set1.intersection(set2))

In [ ]:
print(set1.intersection(set2,set3))

In [ ]:
print(set1 & set2)

In [ ]:
print(set1.intersection(["Mahi"]))

In [ ]:
 print(set1 & set2 & set3)

## Intersection Update() method

In [ ]:
set2.intersection_update(set3)
print(set2)

In [ ]:
set2.intersection_update(["Mahi"])
print(set2)

In [8]:
set1={"Boomi","Nagarj","MRS"}
set2={"Boomi","Praba","Bharathi"}
set3={"rajesh","ram","Boomi"}

## Difference

In [ ]:
print(set1.difference(set2))

In [ ]:
print(set1 - set2)

In [ ]:
print(set1.difference(("Mahi","Boomi")))

In [ ]:
print(set1.difference(set2,set3))

## Difference Update

In [ ]:
set1.difference_update(set2)
print(set1)

In [9]:
set1 -=set2
print(set1)

{'MRS', 'Nagarj'}

## Symmetric difference

In [10]:
print(set1.symmetric_difference(set2))

{'Bharathi', 'Nagarj', 'Praba', 'MRS', 'Boomi'}

In [11]:
print(set1.symmetric_difference(set2,set3))

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [12]:
print(set1^set2^set3)

{'rajesh', 'Bharathi', 'Nagarj', 'Praba', 'ram', 'MRS'}

## Symmetric difference update

In [13]:
set2.symmetric_difference_update(set1)
print(set2)

{'Bharathi', 'Nagarj', 'Praba', 'MRS', 'Boomi'}

In [14]:
set1.symmetric_difference_update(("mazi","boomi"))
print(set1)

{'boomi', 'Nagarj', 'mazi', 'MRS'}

In [15]:
set1 ^= set2
print(set1)

{'boomi', 'Bharathi', 'Praba', 'mazi', 'Boomi'}

## Isdisjoint()

In [37]:
set1={"Boomi","Nagaraj","MRS","Praba","Bharathi"}
set2={"Boomi","Praba","Bharathi"}

In [20]:
print(set1.isdisjoint(set2))

True

In [24]:
print(set1.isdisjoint(["mazi","Boomi"]))

False

## issubset()

In [25]:
print(set1.issubset(set2))

False

In [32]:
print(set1.issubset(["mazi","Boomi","Nagaraj","MRS"]))

True

In [35]:
 print(set1 <=set2)

False

## issuperset()

In [38]:
print(set1.issuperset(set2))

True

In [39]:
 print(set1 >=set2)

True

In [40]:
del set2