# Perform Data Manipulation

In [3]:
# Task-1
import pandas as pd
import numpy as np
Student_ID=np.arange(1001,1041)
reg=pd.Series(Student_ID,index=np.arange(1,41))
reg

1     1001
2     1002
3     1003
4     1004
5     1005
6     1006
7     1007
8     1008
9     1009
10    1010
11    1011
12    1012
13    1013
14    1014
15    1015
16    1016
17    1017
18    1018
19    1019
20    1020
21    1021
22    1022
23    1023
24    1024
25    1025
26    1026
27    1027
28    1028
29    1029
30    1030
31    1031
32    1032
33    1033
34    1034
35    1035
36    1036
37    1037
38    1038
39    1039
40    1040
dtype: int32

In [4]:
#Task-2
Math_marks=np.random.randint(50,95,size=40)
math_level1=pd.Series(Math_marks,index=Student_ID,name="Mathematics marks")
math_level1

1001    79
1002    50
1003    86
1004    63
1005    68
1006    68
1007    64
1008    57
1009    55
1010    89
1011    87
1012    83
1013    83
1014    86
1015    89
1016    65
1017    55
1018    63
1019    71
1020    70
1021    64
1022    74
1023    57
1024    84
1025    51
1026    78
1027    59
1028    84
1029    50
1030    84
1031    63
1032    74
1033    64
1034    87
1035    91
1036    85
1037    72
1038    54
1039    65
1040    69
Name: Mathematics marks, dtype: int32

In [5]:
Physics_marks=np.random.randint(40,95,size=40)
phi_level1=pd.Series(Physics_marks,index=Student_ID,name="Physics marks")
phi_level1

1001    75
1002    50
1003    75
1004    48
1005    78
1006    66
1007    66
1008    90
1009    78
1010    50
1011    54
1012    82
1013    84
1014    84
1015    47
1016    68
1017    57
1018    84
1019    59
1020    54
1021    69
1022    67
1023    79
1024    86
1025    84
1026    45
1027    51
1028    94
1029    80
1030    75
1031    81
1032    82
1033    53
1034    49
1035    57
1036    70
1037    57
1038    52
1039    87
1040    94
Name: Physics marks, dtype: int32

In [6]:
#task-4
total = pd.Series(math_level1+phi_level1)
eligibility=total[total>=150]
eligibility

1001    154
1003    161
1012    165
1013    167
1014    170
1024    170
1028    178
1030    159
1032    156
1036    155
1039    152
1040    163
dtype: int32

In [7]:
maths_sec=np.random.randint(50,100,size=len(eligibility))
phi_sec=np.random.randint(30,100,size=len(eligibility))
math1=pd.Series(maths_sec,index=eligibility.index,name="Maths second test")
phisics1=pd.Series(phi_sec,index=eligibility.index,name="Phisics Second test")
level2=pd.Series(eligibility+math1+phisics1,index=eligibility.index,name="Level-2 Total Marks")
level2

1001    244
1003    270
1012    270
1013    301
1014    292
1024    277
1028    284
1030    334
1032    291
1036    303
1039    276
1040    304
Name: Level-2 Total Marks, dtype: int32

In [8]:
# Task -6
eligibility1=pd.Series((level2[level2>=300]),name="Level-2 Total Marks")
eligibility1

1013    301
1030    334
1036    303
1040    304
Name: Level-2 Total Marks, dtype: int32

In [9]:
#Task-7
m_sc=np.random.randint(50,100,size=len(eligibility1))
p_sc=np.random.randint(40,100,size=len(eligibility1))
math_Screen=pd.Series(m_sc,index=eligibility1.index,name="Maths screening test")
phisics_Screen=pd.Series(p_sc,index=eligibility1.index,name="Phisics Screening test")
total_scr=math_Screen+phisics_Screen
final=0.4*level2.loc[eligibility1.index]+0.6*(total_scr)
final

1013    188.8
1030    230.8
1036    206.4
1040    214.0
dtype: float64

In [10]:
#Task-8
total_Score=total+level2+final
cutoff=0.75*total_Score
Olympiad_event=total_Score[total_Score>=cutoff]
Olympiad_event

1013    656.8
1030    723.8
1036    664.4
1040    681.0
dtype: float64

In [11]:
#Task-9
eligi_data=pd.DataFrame({"Student ID":Olympiad_event.index,"Total Score":Olympiad_event.values})
higest_Score=eligi_data.loc[eligi_data["Total Score"].idxmax()]
lowest_Score=eligi_data.loc[eligi_data["Total Score"].idxmin()]
print(eligi_data)
print(higest_Score)
print(lowest_Score)

   Student ID  Total Score
0        1013        656.8
1        1030        723.8
2        1036        664.4
3        1040        681.0
Student ID     1030.0
Total Score     723.8
Name: 1, dtype: float64
Student ID     1013.0
Total Score     656.8
Name: 0, dtype: float64

# challenge

In [12]:
#Task-1
import pandas as pd
import numpy as np
cars=np.arange(101,121)
price=np.random.randint(30000,50000,size=20)
Showroom=pd.Series(price,index=cars)
Showroom

101    48099
102    35797
103    45016
104    33493
105    35206
106    36828
107    44833
108    49988
109    32084
110    39725
111    41957
112    42169
113    38615
114    49498
115    35421
116    41400
117    33513
118    39011
119    40597
120    46341
dtype: int32

In [13]:
#Task-2
Car_Dealer=Showroom[Showroom>40000]
Car_Dealer

101    48099
103    45016
107    44833
108    49988
111    41957
112    42169
114    49498
116    41400
119    40597
120    46341
dtype: int32

In [14]:
#Task-3
Highest_model=np.arange(111,117)
Display=pd.Series(Showroom,index=Highest_model)
Display

111    41957
112    42169
113    38615
114    49498
115    35421
116    41400
dtype: int32

In [15]:
#Task-4
Count_cars=Showroom[Showroom.between(30000, 40000)]
Count_cars

102    35797
104    33493
105    35206
106    36828
109    32084
110    39725
113    38615
115    35421
117    33513
118    39011
dtype: int32

In [16]:
#Task-5
car_avg=Showroom[Showroom>Showroom.mean()]
car_avg

101    48099
103    45016
107    44833
108    49988
111    41957
112    42169
114    49498
116    41400
119    40597
120    46341
dtype: int32

In [17]:
#Task-6
New_car = pd.Series([34000,45000,54000], index = [201,202,203])
New_Showroom=pd.concat([Showroom,New_car])
print(New_Showroom)

101    48099
102    35797
103    45016
104    33493
105    35206
106    36828
107    44833
108    49988
109    32084
110    39725
111    41957
112    42169
113    38615
114    49498
115    35421
116    41400
117    33513
118    39011
119    40597
120    46341
201    34000
202    45000
203    54000
dtype: int64

In [22]:
#Task-7
Dis_price=New_Showroom.copy()
Dis_price[Dis_price>40000]*=0.9
Company=pd.DataFrame({"Car ID":New_Showroom.index,"Price":New_Showroom.values,"Discount":Dis_price.values})
Company

C:\Users\boomi\AppData\Local\Temp\ipykernel_3396\2831064584.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[43289.1 40514.4 40349.7 44989.2 37761.3 37952.1 44548.2 37260.  36537.3
 41706.9 40500.  48600. ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Dis_price[Dis_price>40000]*=0.9

    Car ID  Price  Discount
0      101  48099   43289.1
1      102  35797   35797.0
2      103  45016   40514.4
3      104  33493   33493.0
4      105  35206   35206.0
5      106  36828   36828.0
6      107  44833   40349.7
7      108  49988   44989.2
8      109  32084   32084.0
9      110  39725   39725.0
10     111  41957   37761.3
11     112  42169   37952.1
12     113  38615   38615.0
13     114  49498   44548.2
14     115  35421   35421.0
15     116  41400   37260.0
16     117  33513   33513.0
17     118  39011   39011.0
18     119  40597   36537.3
19     120  46341   41706.9
20     201  34000   34000.0
21     202  45000   40500.0
22     203  54000   48600.0

In [24]:
#Task-8
before_dis=len(New_Showroom[New_Showroom.between(30000,40000)])
after_dis=len(Dis_price[Dis_price.between(30000,40000)])
print("no of cars 30000 to 40000 before",before_dis)
print("no of cars 30000 to 40000 After",after_dis)

no of cars 30000 to 40000  11
no of cars 30000 to 40000  15

In [28]:
sort_cars=Dis_price.sort_values()
least_cars=sort_cars[:5]
least_cars

109    32084.0
104    33493.0
117    33513.0
201    34000.0
105    35206.0
dtype: float64