# Prediction using Probability

# Practice

In [1]:
import math

## Formulae : Combination

In [2]:
# No Repetition
def com(n,r):
    return math.factorial(n) // (math.factorial(r) * math.factorial(n-r))

In [3]:
# Repetition
def comr(n,r):
    return math.factorial(n+r-1) // (math.factorial(r)*math.factorial(n-1))

## Formulae : Permutation

In [4]:
# No Repetition
def per(n,r):
    return math.factorial(n) // math.factorial(n-r)

In [5]:
# Repetition
def perr(n,r):
    return pow(n,r)

### Task 1

In [6]:
# A)
res=com(6,3)*com(4,2)
res

120

In [7]:
# B)
res1=com(6,5)
res1

6

In [8]:
# C)
res2=com(6,1)*com(4,4)
res3=com(6,2)*com(4,3)
res2+res3

66

In [9]:
print('Answer is : ',res,',',res1,',',res2+res3)

Answer is :  120 , 6 , 66

### Task 2

In [10]:
cards=com(52,5)
cards

2598960

In [11]:
print('Answer is : ',cards)

Answer is :  2598960

### Task 3

In [12]:
winner=per(8,3)
winner

336

In [13]:
print('Answer is : ',winner)

Answer is :  336

### Task 4

In [14]:
student=com(15,2)
student

105

### Task 5

In [15]:
# Possibility Outcome of One of the dice is Thrice the number obtained on other side is 4
# (1,3),(2,6),(3,1),(6,2)
# Total possibility outcome of two dice is 36
dice=4/36
dice=1/9

### Task 6

In [16]:
words=com(7,3)*com(4,2)
words

210

### Task 7

# Challenge

### Task 1

In [24]:
society=com(11,4)
society

330

### Task 2

In [26]:
# A)
#van leaving first
van=50/150
van=1/3

In [33]:
# B)
#lorry leaving first
lorry=20/150
lorry=2/15

In [35]:
# C)
#Lorry or Van leaves first and then car leaving
#total=150-1=149
car=80/149
car=40/74.5

### Task 3

In [ ]:
# A)
# 2 left-handed students
left2=8/30
left2=2/15

In [36]:
# B)
# Atleast 3 left-handed students
# total= 5+12+2 = 19
left3=19/30

### Task 4

### Task 5

In [39]:
# 1)
#total possibility is 36
# sum is equal to 1 is 0
prob=0/36
prob=0

In [40]:
# 2)
# sum is equal to 4 is 3
# (1,3),(2,2),(3,1)
prob1=3/36
prob1=1/12

In [42]:
# 3)
# sum is less than 13 is 36
# because all possibilities sum is less than 13
prob2=36/36
prob2=1

### Task 6

In [45]:
# A)
# probability of selecting even number is 10
even=per(20,10)
even

670442572800

In [46]:
# B)
# probability of selecting number divisible by 3 is 6
# 3,6,9,12,15,18
div3=per(20,6)
div3

27907200

In [47]:
# C)
# probability of selecting prime numbers is 8
# 2,3,5,7,11,13,17,19
prime=per(20,8)
prime

5079110400

In [48]:
# D)
# probability of selecting number divisible by 5 is 4
# 5,10,15,20
div5=per(20,4)
div5

116280

### Task 7

In [49]:
# Total possible ways are 216
# Ways to Get 11: There are 3 ways to get a sum of 11:
# (5, 5, 1),(5, 2, 4),(6, 3, 2)
prob11=3/216
prob11=1/72
# Ways to Get 12: There are only 2 ways to get a sum of 12:
# (6, 4, 2),(6, 3, 3)
prob12=2/216
prob12=1/108

#### The sum of 11 will occur more probably