# Manipulating DataFrame (Level 2)

## Inner Join:
- return rows based on common characteristics

## LEFT OUTER JOIN:


![Screenshot16151%20%281%29.png](attachment:Screenshot16151%20%281%29.png)

## RIGHT OUTER JOIN

![Screenshot16151%20%282%29.png](attachment:Screenshot16151%20%282%29.png)

## FULL OUTER JOIN

![Screenshot16151%20%283%29.png](attachment:Screenshot16151%20%283%29.png)

## INDEX JOIN

# Concept Session
## You might have noticed that data is present in multiple files in the dataset provided to you. What is the first thing that comes to your mind?
## 'Merge them'

## You may need to bring all the data at one place by some sort of join logic and then start your analysis.

# Task-1)

## Assume that you have some data of customers with Cust_ID in one sheet of an excel file and some more data with Cust_ID in a second sheet of the same excel file. How can you join these data?
### Read data from first sheet of excel file 'customer.xlsx'

### Read the data from second sheet of excel file.

## 1. Inner Join

## 2. Outer Join

## 3. Right Join

## 4. Left Join

# Task-2)

## Assume that you have some data of customers with Cust_ID in one sheet of an excel file and some more data with Cust_ID in a second sheet of same excel file. How can you join these data?
### Read data from first sheet of excel file 'Ecommerce_data.xlsx'

### Read data from second sheet of excel file

## 1. Inner Merge

## 2. Outer Merge

## 3. Right Merge

## 4. left Merge

# Task-3)

## Represent the name of some persons with their date of births in a tabular format.

# Dataset: Insurance Claim
# File name: 'insurance_data_with_day.csv'
## Read the data from this file and perform the following computations.

# Task-4)

## Find the duplicate rows except their first occurence in the dataset.

# Task-5)

## Find the duplicate rows based on the columns of age, gender and blood pressure.

# Task-6)

## Drop the duplicate rows where column matches.

# Task-7)

## Drop the duplicate rows except their first occurence based on the columns of age, gender, bmi and children.

# Task-9)

## Replace the values southeast, southwest, northeast and northwest by South_East, South_West, North_East and North_West respectively.

# Task-10)

## Add a new column 'High_bmi' after the column 'bmi' and follow the conditions below.
### (1) In 'bmi', if the value is less than or equal to 32, then assign value 'No' to 'High_bmi'.  
### (2) In 'bmi', if the value is more than 32, then assign value 'Yes' to 'High_bmi'.

# Task-11)

## Group the data based on gender.

# Task-11)

## Find the total claim of insurance based on regions.

# Task-12)

## Find the total number of males and females in each region.

# Task-13)

## Find the average claim of insurance for males and females in each region.

# Task-14)

## Create a pivot table that shows the average claims for each region.

### Pivot table : to summarize one or more numeric variable based on some categories

# Task-15)

## Create a pivot table that shows the minimum and maximum claim for each region.

# Task-16)

## Create a cross table to find out the region-wise gender count.

### cross-table - computation, by default it'll give you frequency table

# Task-17)

## Find out the total missing values in each column of the dataset. Then replace the missing values by appropriate values.
### Total missing values in each column

### Count the different values of diabetic column

### Replace the missing value by the most frequent value

### Replace the missing value by mean value in 'claim'

### Find the total missing values in each column again

### There are no missing values left.