# Challangeing

In [ ]:
li=[]
rev=[]
for i in range(0,10):
    n=input("enter the name")
    li.append(n)
for j in li:
    rev=j[::-1]
    print(rev,end=",")

enter the name boomi

In [8]:
li=[]
rev=[]
for i in range(0,10):
    n=input("")
    li.append(n)
li.reverse()
print(li)

 boomi
 nagraj
 kavis
 kani
 praba
 praka
 boobalan
 muthu
 rajesh
 ram

['ram', 'rajesh', 'muthu', 'boobalan', 'praka', 'praba', 'kani', 'kavis', 'nagraj', 'boomi']

In [13]:
alist=[]
for i in range(0,10):
    n=input("")
    alist.append(n)
print(alist)

 boomi
 boomi
 nagraj
 ram
 rajesh
 rajesh
 praba
 praka
 muthu
 kavis

['boomi', 'boomi', 'nagraj', 'ram', 'rajesh', 'rajesh', 'praba', 'praka', 'muthu', 'kavis']

In [14]:
blist=[]
for i in alist:
    if i not in blist:
        blist.append(i)
print(blist)

['boomi', 'nagraj', 'ram', 'rajesh', 'praba', 'praka', 'muthu', 'kavis']

In [15]:
blist.sort()
print(blist)

['boomi', 'kavis', 'muthu', 'nagraj', 'praba', 'praka', 'rajesh', 'ram']

In [16]:
for i in blist:
    blist.pop()
    print(blist)

['boomi', 'kavis', 'muthu', 'nagraj', 'praba', 'praka', 'rajesh']
['boomi', 'kavis', 'muthu', 'nagraj', 'praba', 'praka']
['boomi', 'kavis', 'muthu', 'nagraj', 'praba']
['boomi', 'kavis', 'muthu', 'nagraj']

In [17]:
for i in range(1500,2700):
    if i%7==0 and i%5==0:
        print(i,end=",")

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,

In [21]:
n=int(input("enter the number"))
for i in range(0,31):
    if i%n!=0:
        print(i,end=",")

enter the number 4

1,2,3,5,6,7,9,10,11,13,14,15,17,18,19,21,22,23,25,26,27,29,30,

In [16]:
firstlist=[[1,2,3],[4,5,6],[7,8,9]]
secondlist=[[19,18,17],[16,15,14],[13,12,11]]
thirdlist=[[0,0,0],[0,0,0],[0,0,0,]]
for i in range (len(firstlist)):
    for j in range (len(firstlist)):
        thirdlist[i][j]=firstlist[i][j]+secondlist[i][j]
for result in thirdlist:
    print(result)
    
print(firstlist[i][j])

[20, 20, 20]
[20, 20, 20]
[20, 20, 20]
9

In [10]:
len(firstlist[0])

3

In [37]:
Firstlist=[]
Secondlist=[]
print("enter firstlist integers")
for i in range(3):
    innerlist=[]
    for j in range(3):
        innerlist.append(int(input()))
    Firstlist.append(innerlist)
print("enter secondlist integers")
for i in range(3):
    innerlist=[]
    for j in range(3):
        innerlist.append(int(input()))
    Secondlist.append(innerlist)
print("Firstlist",Firstlist)
print("Secondlist",Secondlist)

enter firstlist integers

 1
 2
 3
 4
 5
 6
 7
 8
 9

enter secondlist integers

 19
 18
 17
 16
 15
 14
 13
 12
 11

Firstlist [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Secondlist [[19, 18, 17], [16, 15, 14], [13, 12, 11]]

In [24]:
## Tuples
# syntax -tuple_name=(item1,item2,item3)
cars=("audi","bmw","benz")

In [26]:
li=list(cars)

In [28]:
li

['audi', 'bmw', 'benz']

In [30]:
li.append('toyota')

In [32]:
li

['audi', 'bmw', 'benz', 'toyota']

In [34]:
cars=tuple(li)

In [36]:
cars

('audi', 'bmw', 'benz', 'toyota')

In [40]:
cars

('audi', 'bmw', 'benz', 'toyota')

In [62]:
cars=("audi","bmw","benz","ford","toyota")
car1,*car2,car3=cars

In [50]:
car1

'audi'

In [66]:
car2

['bmw', 'benz', 'ford']

In [64]:
car3

'toyota'

In [ ]:
## Set_name={values}