In [8]:
import pandas as pd
import numpy as np
s=pd.Series(["boomi","nagaraj"],index=np.arange(1,3))
print(s)

1      boomi
2    nagaraj
dtype: object

In [12]:
s1=pd.Series(np.random.randint(70,100,size=10),index=np.arange(1,11))
s1

1     78
2     83
3     96
4     97
5     94
6     77
7     88
8     99
9     81
10    71
dtype: int32

In [14]:
Alnum=["boo123","sai675","nag657","rah983","yog675"]
cus=pd.Series(np.random.randint(1,100,size=5),index=Alnum)
cus

boo123    46
sai675    48
nag657    13
rah983    94
yog675     9
dtype: int32

In [22]:
ele=pd.Series(np.random.randint(1000,2000,size=100),index=np.arange(1,101))
ele[0:5]

1    1845
2    1214
3    1282
4    1512
5    1344
dtype: int32

In [21]:
ele[-3:]

98     1405
99     1570
100    1286
dtype: int32

In [28]:
s2=["A1","A2","A3","A4","A5"]
cus1=pd.Series(np.random.randint(1,100,size=5),index=s2)
cus1[2:6]

A3    62
A4    42
A5    55
dtype: int32

In [48]:
emp=["A1","A2","A3","A4","A5","A6","A7","A8","A9","A10"]
sal=pd.Series(np.random.randint(1000,50000,size=10),index=emp)
avg=sal.mean()<10000
avg

False

In [49]:
sal[(sal<(sal.mean()))]

A2    28398
A4    26701
A5    24434
A6    24287
A8    14244
A9    15057
dtype: int32

In [50]:
sal.mean()

28862.9

In [56]:
reg={"Roll_no":[1,2,3,4,5,6,7,8,9,10],
     "Stud_name":["boomi","nagaraj","rajesh","ram","boobalan","kani","kavis","praba","sai",
                  "yogesh"],
     "percentage":[91,93,78,69,91,88,74,56,89,99]}
df=pd.DataFrame(reg)
df

   Roll_no Stud_name  percentage
0        1     boomi          91
1        2   nagaraj          93
2        3    rajesh          78
3        4       ram          69
4        5  boobalan          91
5        6      kani          88
6        7     kavis          74
7        8     praba          56
8        9       sai          89
9       10    yogesh          99

In [57]:
df["Stud_name"]

0       boomi
1     nagaraj
2      rajesh
3         ram
4    boobalan
5        kani
6       kavis
7       praba
8         sai
9      yogesh
Name: Stud_name, dtype: object