# Creating Variables

In [5]:
#a
Rollno=1813120
print(Rollno)
print(id(Rollno))
type(Rollno)

1813120

int

In [7]:
#b
Name="boomi"
print("FirstName =",Name)
print(id(Name))
type(Name)

FirstName = boomi

2572287481200

In [8]:
#c
Name="Nagaraj"
print("LastName =",Name)
print(id(Name))
type(Name)

LastName = Nagaraj

str

In [9]:
#d
Maxmarks=50
print("Maxmarks =",Name)
print(id(Maxmarks))
type(Maxmarks)

Maxmarks = Nagaraj
140730234554696

int

# Naming the variable

In [11]:
#a
var1=2

In [12]:
#b
2var=2

SyntaxError: invalid decimal literal (1729216075.py, line 1)

In [13]:
#c
var 1=2
#why its showing error means because of space inbetween in variable

SyntaxError: invalid syntax (3073352835.py, line 1)

In [14]:
#d
var$2=2
#why its showing error means beause of dollar symbol

SyntaxError: invalid syntax (661466017.py, line 1)

# Assinging values to a variables

In [15]:
Class=15
#Class is normal variable declaration

In [16]:
class=14
#because class is keyword in python

SyntaxError: invalid syntax (1944381924.py, line 1)

In [17]:
DEF=13
# DEF is normal variable declaration

In [18]:
def=12
#because class is keyword in python

SyntaxError: invalid syntax (2880411144.py, line 1)

In [21]:
a =TRUE
#why its showing error means because sytax error it's only allow True not TRUE

NameError: name 'TRUE' is not defined

In [22]:
b=false
#why its showing error means because sytax error it's only allow False not false

NameError: name 'false' is not defined

# Using id()

In [25]:
#a
marks =22.5
print(marks)
print(id(type))
#b
marks=24.5
print(marks)
print(id(type))
#yes,it is same beacuse it override the privious marks memory location

22.5
140730233177296
24.5
140730233177296

# formatting the output

In [29]:
#a
tamil=94
english=85
maths=75
total_marks=tamil+english+maths
percentage=(total_marks/300)*100
print("percentage of marks",percentage,"%")

percentage of marks 84.66666666666667 %

In [31]:
#b
firstname="boomi"
lastname="Nagaraj"
print("FullName-",firstname+lastname)

FullName- boomiNagaraj

In [37]:
#c
Name="boomi"
marks=95
print(Name,marks,'%')

boomi 95 %

# Creating DataStructure

In [39]:
reg={"RollNo":"boomi"}
print(reg)

{'RollNo': 'boomi'}

In [41]:
reg=[18,"Boomi",95]
print(reg)

[18, 'Boomi', 95]

# Arithmetic operation

In [42]:
1+"2"
# why its showing error means we cant concatinate int and String

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
"1"+"2"
#the two operants are string so it will concatinate

'12'

In [44]:
1/2
#divion it will give quotient value

0.5

In [45]:
1//2
# floordivision it will give the quotient rounded value

0

# Logical Operator

In [46]:
True and True
#AND operator gives true and true means only true
#if any true and  false gives false

True

In [48]:
True and False
#AND operator gives true and true means only 
#if any true and  false gives false

False

In [50]:
False or True
# OR operator gives false and true means true
#in or operator only false and false gives false otherwise true only

True

In [51]:
False or False
# OR operator gives false and true means true
#in or operator only false and false gives false otherwise true only

False

# identify and membership operation

In [52]:
#a
Firstname="boomi"
fullname="boominagraj"
print(Firstname in fullname)
#why its showing true means by using IN operator
#we can identify the content present or not

True

In [53]:
#b
Firstname="boomi"
fullname="boominagraj"
print(Firstname is fullname)
#why its showing False means by using IS operator
#we can identify the content have same object or not

False

# Associativity

In [57]:
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print("d-",d)
print("e-",e)
#it is not same d is takeing first piority is exponent ** then addition so its diffent
# it is not same e is takeing first piority is pracket () then only next operator

d- 66
e- 1024

# Creating basic program

In [60]:
pi=3.14
radius=6
print("Area_of_circle",pi*radius**2)

Area_of_circle 113.04

In [62]:
Product_price=85
tax=18
tax_price=(18/100)*85
total_Amount=tax_price+Product_price
print("Final amount with tax",total_Amount)

Final amount with tax 100.3

In [63]:
Dollar_value=75
rupess=3333
rupess_to_dollar=3333/75
print("dollar values",rupess_to_dollar)

dollar values 44.44

In [65]:
inflation_rate=7/100
Amount_of_power=500
purchasing_power=Amount_of_power/(1+inflation_rate)
print ("final purchasing power amount",purchasing_power)

final purchasing power amount 467.2897196261682