In [9]:
mynames=["joe","zoe","world","USA","brad","angelina","world","zuki","tom",
         "paris","world","maggi"]
for i in mynames:
    if i=="USA":
        print("true")
    else:
        print("false")

false
false
false
true
false
false
false
false
false
false
false
false

In [12]:
name=["joe","zoe","world","USA","brad","angelina","world","zuki","tom",
         "paris","world","magic"]

In [13]:
name.count("world")

3

In [14]:
dataset=list(range(1,30))
Even=0
Odd=0
for i in dataset:
    if i%2==0:
        Even+=1
    else:
        Odd+=1
print("No.of Even numbers",Even)
print("No.of Even numbers",Odd)

No.of Even numbers 14
No.of Even numbers 15

In [21]:
dataset=list(range(1,30))
el=[]
for i in dataset:
    if i%2==0:
        el.append(i)
        if len(el)>=5:
            break
print(el)

[2, 4, 6, 8, 10]

In [68]:
odd1=0;
odd2=0;
dataset=list(range(1,30))
for n in dataset:
    if n%2!=0:
        odd1=odd2
        odd2=n
print("last odd number",odd2)
print("second last odd number",odd1)

last odd number 29
second last odd number 27

In [50]:
x=[]
y=[]
for i in range(0,5):
    n=int(input("enter the number"))
    x.append(n)
for j in range(0,5):
    n=int(input("enter the number"))
    y.append(n)
x.extend(y)
s=input("enter the String")
x.insert(0,s)
print("Final values",x)

enter the number 85
enter the number 45
enter the number 95
enter the number 74
enter the number 65
enter the number 52
enter the number 87
enter the number 56
enter the number 8
enter the number 56
enter the String boomi

Final values ['boomi', 85, 45, 95, 74, 65, 52, 87, 56, 8, 56]

In [70]:
l=[]
for i in range(1,40):
    l.append(i**2)
print("first 10 square numbers",l[:10])
print("Last 10 square numbers",l[-10:])

first 10 square numbers [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Last 10 square numbers [900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521]

In [62]:
n=int(input("enter the number"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter the number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50